.showcase {

    .swiper-container {
        margin: 2em 0;
        position: relative;
    
        .swiper-wrapper {
    
            .swiper-slide {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                position: relative;

                @media(max-width: 1024px) {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
    
                .small {
                    margin-right: 15em;
                    @media(max-width: 1024px) {
                        margin: 0;
                    }
                    
                    .image {
                        position: relative;
                        display: flex;
    
                        img {
                            width: 100%;
    
                            &:first-of-type {
                                position: absolute;
                                bottom: 0;
                                z-index: -1;
                            }
                        }
                    }
    
                    .desc {
                        font-size: 14px;
                        padding: 0.5em 0;
                    }
                }

                h1 {
                    position: absolute;
                    top: 45%;
                    left: 10em;
                    z-index: 10;
                    font-weight: 500;
                    font-size: 74px;
                    letter-spacing: 0.3em;
                    border-bottom: 5px solid black;
                    animation: slide 1s ease;

                    @keyframes slide {
                        from {
                            left: 0;
                        }
                        to {
                            left: 10em;
                        }
                    }

                    @media(max-width: 1024px) {
                        top: 25%;
                    }
                }
    
                .large {
                    position: relative;
                    display: flex;
                    justify-content: flex-end;
                    width: 55%;
                    @media(max-width: 1024px) {
                        flex-direction: column;
                        align-items: flex-end;
                        justify-content: center;
                    }
    
                    .image {
                        width: 100%;
    
                        img {
                            width: 100%;
                        }
                    }
    
                    .vertical {
                        position: absolute;
                        top: 3em;
                        right: 3em;
    
                        p {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
}